In [1]:
import numpy as np
import pandas as pd

trainDS = pd.read_csv(r'C:\Users\MY\Downloads\Datasets\TitanicDataset\train.csv')
trainDS.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [2]:
trainDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [3]:
trainDS.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [4]:
med = trainDS['Age'].median()

In [5]:
trainDS.groupby('Pclass').median()['Age']

Pclass
1    37.0
2    29.0
3    24.0
Name: Age, dtype: float64

In [6]:
def filla(w):
    if(pd.isnull(w['Age'])):
        w['Age'] = med
    else:
        w = w
        
    return w

trainDS = trainDS.apply(filla, axis = 1)

In [7]:
trainDS['Age'][95]

28.0

In [8]:
trainDS['Embarked'].fillna(trainDS['Embarked'].mode()[0], inplace = True)

In [9]:
X = trainDS

In [10]:
def S(x):
    if(x == 'male'):
        x = 1
    else:
        x = 0
        
    return x 

X['Sex'] = X['Sex'].apply(lambda x: S(x))

In [11]:
X['Sex'][: 10]

0    1
1    0
2    0
3    0
4    1
5    1
6    1
7    1
8    0
9    0
Name: Sex, dtype: int64

In [12]:
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

Age = X['Age'].values
Age = Age.reshape(-1, 1)
scaler = MinMaxScaler()
X['Age'] = scaler.fit_transform(Age)

In [13]:
Fare = X['Fare'].values
Fare = Fare.reshape(-1, 1)
X['Fare'] = scaler.fit_transform(Fare)

In [14]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
dtypes: float64(2), int64(6), object(4)
memory usage: 83.7+ KB

In [15]:
Embarked = pd.get_dummies(X['Embarked'], drop_first = True)
X = pd.concat([X, Embarked], axis = 1)

In [16]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 14 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    int64
 5   Age          891 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     891 non-null    object
 12  Q            891 non-null    uint8
 13  S            891 non-null    uint8
dtypes: float64(2), int64(6), object(4), uint8(2)
memory usage: 85.4+ KB

In [17]:
X['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [18]:
X = X.drop(['PassengerId', 'Name', 'Ticket', 'Cabin'], axis = 1)

In [19]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
 8   Q         891 non-null    uint8
 9   S         891 non-null    uint8
dtypes: float64(2), int64(5), object(1), uint8(2)
memory usage: 57.6+ KB

In [20]:
X['Parch'].value_counts()

0    678
1    118
2     80
5      5
3      5
4      4
6      1
Name: Parch, dtype: int64

In [21]:
#H = pd.get_dummies(X['Parch'], drop_first = True)
#Parch = pd.DataFrame(H).reset_index()
#Parch.columns = ['Index', 'L1', 'L2', 'L3', 'L4', 'L5', 'L6']
#Parch = Parch.drop(['Index'], axis = 1)

In [22]:
#L = pd.concat([X, Parch], axis = 1)

In [23]:
#L.head()

In [24]:
X['SibSp'].value_counts()

0    608
1    209
2     28
4     18
3     16
8      7
5      5
Name: SibSp, dtype: int64

In [25]:
H = pd.get_dummies(X['SibSp'], drop_first = True)
SibSp = pd.DataFrame(H).reset_index()
SibSp.columns = ['Index', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6']
SibSp = SibSp.drop(['Index'], axis = 1)

In [26]:
A = pd.concat([X, SibSp], axis = 1)

In [27]:
A.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 16 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       891 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  891 non-null    object
 8   Q         891 non-null    uint8
 9   S         891 non-null    uint8
 10  S1        891 non-null    uint8
 11  S2        891 non-null    uint8
 12  S3        891 non-null    uint8
 13  S4        891 non-null    uint8
 14  S5        891 non-null    uint8
 15  S6        891 non-null    uint8
dtypes: float64(2), int64(5), object(1), uint8(8)
memory usage: 62.8+ KB

In [28]:
A = A.drop('SibSp', axis = 1)

In [29]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

K = A
K = K.drop(['Embarked', 'Survived'], axis = 1)
K.info()
all_features = np.array(K)
all_labels = np.array(X['Survived'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     891 non-null    float64
 3   Parch   891 non-null    int64
 4   Fare    891 non-null    float64
 5   Q       891 non-null    uint8
 6   S       891 non-null    uint8
 7   S1      891 non-null    uint8
 8   S2      891 non-null    uint8
 9   S3      891 non-null    uint8
 10  S4      891 non-null    uint8
 11  S5      891 non-null    uint8
 12  S6      891 non-null    uint8
dtypes: float64(2), int64(3), uint8(8)
memory usage: 41.9 KB

In [30]:
K.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  891 non-null    int64
 1   Sex     891 non-null    int64
 2   Age     891 non-null    float64
 3   Parch   891 non-null    int64
 4   Fare    891 non-null    float64
 5   Q       891 non-null    uint8
 6   S       891 non-null    uint8
 7   S1      891 non-null    uint8
 8   S2      891 non-null    uint8
 9   S3      891 non-null    uint8
 10  S4      891 non-null    uint8
 11  S5      891 non-null    uint8
 12  S6      891 non-null    uint8
dtypes: float64(2), int64(3), uint8(8)
memory usage: 41.9 KB

In [31]:
X_train, X_test, y_train, y_test = train_test_split(all_features, all_labels, test_size = 0.2, random_state = 0)

In [32]:
#from sklearn.neighbors import KNeighborsClassifier
#from sklearn.model_selection import cross_val_score

#X = []
#for i in range(1, 50):
    #modelK = KNeighborsClassifier(n_neighbors = i)
    #scores = cross_val_score(modelK, all_features, all_labels, cv = 10)
    #X.append([scores.mean()])
    #print(i, scores.mean())

#print(max(X))

In [33]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import cross_val_score, RandomizedSearchCV

modelR = RandomForestClassifier(bootstrap=False, max_depth=60, max_features='sqrt',
                       min_samples_leaf=2, min_samples_split=10,
                       n_estimators=800, random_state=24)
scores = cross_val_score(modelR, all_features, all_labels, cv = 10)
print(scores.mean())

0.8283645443196006

In [34]:
#from sklearn import svm

#models = svm.SVC(C = 750, degree=1, gamma="scale")
#scores = cross_val_score(models, all_features, all_labels, cv = 10)
#print(scores.mean())

In [35]:
#model = LogisticRegression()
#model.fit(X_train, y_train)
#predictions = model.predict(X_test)
#print(predictions)

In [36]:
from sklearn.metrics import accuracy_score

modelR.fit(X_train, y_train)
predictions1 = modelR.predict(X_test)
ac = accuracy_score(y_test, predictions1)
print(ac)

0.8435754189944135

In [37]:
testDS = pd.read_csv(r'C:\Users\MY\Downloads\Datasets\TitanicDataset\test.csv')
testDS.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [38]:
testDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [39]:
testDS.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [40]:
testDS.groupby('Pclass').mean()['Age']

Pclass
1    40.918367
2    28.777500
3    24.027945
Name: Age, dtype: float64

In [41]:
def fillat(w):
    if(pd.isnull(w['Age'])):
        w['Age'] = testDS.groupby('Pclass').mean()['Age'][w['Pclass']]
    else:
        w = w
        
    return w

testDS = testDS.apply(fillat, axis = 1)

In [42]:
Y = testDS

In [43]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [44]:
Y[Y['Fare'].isnull()].index.tolist()

[152]

In [45]:
M = Y['Fare'].mean()

In [46]:
def fillf(w):
    if(pd.isnull(w['Fare'])):
        w['Fare'] = M
    else:
        w = w
    return w
Y = Y.apply(fillf, axis = 1)

In [47]:
Y['Fare'][152]

35.6271884892086

In [48]:
def S(x):
    if(x == 'male'):
        x = 1
    else:
        x = 0
        
    return x 

Y['Sex'] = Y['Sex'].apply(lambda x: S(x))

In [49]:
Age = Y['Age'].values
Age = Age.reshape(-1, 1)
scaler = MinMaxScaler()
Y['Age'] = scaler.fit_transform(Age)

In [50]:
Fare = Y['Fare'].values
Fare = Fare.reshape(-1, 1)
Y['Fare'] = scaler.fit_transform(Fare)

In [51]:
Embarked = pd.get_dummies(Y['Embarked'], drop_first = True)
Y = pd.concat([Y, Embarked], axis = 1)

In [52]:
Y['SibSp'].value_counts()

0    283
1    110
2     14
4      4
3      4
8      2
5      1
Name: SibSp, dtype: int64

In [53]:
Y['Parch'].value_counts()

0    324
1     52
2     33
3      3
9      2
4      2
6      1
5      1
Name: Parch, dtype: int64

In [54]:
H2 = pd.get_dummies(Y['SibSp'], drop_first = True)
SibSp = pd.DataFrame(H2).reset_index()
SibSp.columns = ['Index', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6']
SibSp = SibSp.drop(['Index'], axis = 1)

In [55]:
A2 = pd.concat([Y, SibSp], axis = 1)

In [56]:
A2 = A2.drop('SibSp', axis = 1)

In [57]:
J = A2
J.info()
J = J.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis = 1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 18 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   Parch        418 non-null    int64
 6   Ticket       418 non-null    object
 7   Fare         418 non-null    float64
 8   Cabin        91 non-null     object
 9   Embarked     418 non-null    object
 10  Q            418 non-null    uint8
 11  S            418 non-null    uint8
 12  S1           418 non-null    uint8
 13  S2           418 non-null    uint8
 14  S3           418 non-null    uint8
 15  S4           418 non-null    uint8
 16  S5           418 non-null    uint8
 17  S6           418 non-null    uint8
dtypes: float64(2), int64(4), object(4), uint8(8)
memory usage: 36.0+ KB

In [58]:
J.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   Parch   418 non-null    int64
 4   Fare    418 non-null    float64
 5   Q       418 non-null    uint8
 6   S       418 non-null    uint8
 7   S1      418 non-null    uint8
 8   S2      418 non-null    uint8
 9   S3      418 non-null    uint8
 10  S4      418 non-null    uint8
 11  S5      418 non-null    uint8
 12  S6      418 non-null    uint8
dtypes: float64(2), int64(3), uint8(8)
memory usage: 19.7 KB

In [59]:
modelR.fit(all_features, all_labels)
predictions = modelR.predict(J)
print(predictions)

[0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 1 1 0 1 0 1 0 1 0 1 0 0 0 1 0 1 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0 0 0 0 0
 1 1 0 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 1 0 1 0 0 1 0 0 1 0 0 1 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 0 0 1 0 0 0]

In [60]:
predictions.size

418

In [61]:
R = pd.Series(predictions)
R.shape

(418,)

In [62]:
P = pd.Series(testDS['PassengerId'])
P.shape

(418,)

In [63]:
K = pd.concat([P, R], axis = 1)

In [64]:
K

     PassengerId  0
0            892  0
1            893  0
2            894  0
3            895  0
4            896  0
..           ... ..
413         1305  0
414         1306  1
415         1307  0
416         1308  0
417         1309  0

[418 rows x 2 columns]

In [65]:
df = pd.DataFrame(K).reset_index()
df.columns = ['Index', 'PassengerId', 'Survived']
df = df.drop(['Index'], axis = 1)

In [66]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 2 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Survived     418 non-null    int64
dtypes: int64(2)
memory usage: 6.7 KB

In [67]:
df['Survived'].value_counts()

0    281
1    137
Name: Survived, dtype: int64