In [40]:
import numpy as np
import pandas as pd

trainDS = pd.read_csv(r'C:\Users\MY\Downloads\Datasets\TitanicDataset\train.csv')
trainDS.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [41]:
trainDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [42]:
trainDS.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [43]:
trainDS.groupby('Pclass').mean()['Age']

Pclass
1    38.233441
2    29.877630
3    25.140620
Name: Age, dtype: float64

In [44]:
def filla(w):
    if(pd.isnull(w['Age'])):
        w['Age'] = trainDS.groupby('Pclass').mean()['Age'][w['Pclass']]
    else:
        w = w
        
    return w

trainDS = trainDS.apply(filla, axis = 1)

In [45]:
trainDS['Age'][95]

25.14061971830986

In [46]:
trainDS['Embarked'].fillna(trainDS['Embarked'].mode()[0], inplace = True)

In [47]:
X = trainDS

In [48]:
X = X.drop(['Cabin', 'Name', 'PassengerId', 'Ticket', 'Survived'], axis = 1)

In [49]:
def S(x):
    if(x == 'male'):
        x = 1
    else:
        x = 0
        
    return x 

X['Sex'] = X['Sex'].apply(lambda x: S(x))

In [50]:
X['Sex'][: 10]

0    1
1    0
2    0
3    0
4    1
5    1
6    1
7    1
8    0
9    0
Name: Sex, dtype: int64

In [51]:
from sklearn.preprocessing import MinMaxScaler
import matplotlib.pyplot as plt

Age = X['Age'].values
Age = Age.reshape(-1, 1)
scaler = MinMaxScaler()
X['Age'] = scaler.fit_transform(Age)

In [52]:
Fare = X['Fare'].values
Fare = Fare.reshape(-1, 1)
X['Fare'] = scaler.fit_transform(Fare)

In [53]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
dtypes: float64(2), int64(4), object(1)
memory usage: 48.9+ KB

In [54]:
Embarked = pd.get_dummies(X['Embarked'], drop_first = True)
X = pd.concat([X, Embarked], axis = 1)

In [55]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
 7   Q         891 non-null    uint8
 8   S         891 non-null    uint8
dtypes: float64(2), int64(4), object(1), uint8(2)
memory usage: 50.6+ KB

In [56]:
X['Embarked'].value_counts()

S    646
C    168
Q     77
Name: Embarked, dtype: int64

In [57]:
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

K = X
K.info()
K = K.drop(['Embarked'], axis = 1)
all_features = np.array(K)
all_labels = np.array(trainDS['Survived'])

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 9 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Pclass    891 non-null    int64
 1   Sex       891 non-null    int64
 2   Age       891 non-null    float64
 3   SibSp     891 non-null    int64
 4   Parch     891 non-null    int64
 5   Fare      891 non-null    float64
 6   Embarked  891 non-null    object
 7   Q         891 non-null    uint8
 8   S         891 non-null    uint8
dtypes: float64(2), int64(4), object(1), uint8(2)
memory usage: 50.6+ KB

In [58]:
X_train, X_test, y_train, y_test = train_test_split(all_features, all_labels, test_size = 0.2, random_state = 10)

In [59]:
model = LogisticRegression()
model.fit(X_train, y_train)
predictions = model.predict(X_test)
print(predictions)

[0 0 0 1 1 0 0 0 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 1 1 0 1 0 1 0 1
 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 1 0 0 0 0 1 1 0 1 1 0 1 0 0 0 0 1 1 1 0 1 0 0 0 0 0 1 1 0 0 1 1 1
 0 1 0 0 0 0 1 1 1 1 0 1 1 0 1 1 0 0 0 1 0 0 1 1 1 0 1 1 0 1 0 0 0 0 0 0 0
 0 0 0 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 0 0 1 0 1 1 0 1 0 0 0 0 1]

In [60]:
from sklearn.metrics import accuracy_score

ac = accuracy_score(y_test, predictions)
print(ac)

0.8212290502793296

In [119]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from kerastuner.tuners import RandomSearch
from tensorflow import keras

In [120]:
def model_NN(hp):
    modelN = Sequential()
    for i in range(hp.Int('num_layers', 2, 30)):
        modelN.add(Dense(units = hp.Int('units_' + str(i), min_value = 32, max_value = 600, step = 64), activation = 'relu'))
    
    modelN.add(Dense(1, kernel_initializer = 'normal', activation = 'sigmoid'))
    modelN.compile(loss = 'binary_crossentropy', optimizer = keras.optimizers.Adam(hp.Choice('learning_rate',[1e-2, 1e-3, 1e-4])), metrics = ['accuracy'])
    return modelN

In [122]:
tuner = RandomSearch(model_NN, objective = 'val_accuracy', max_trials = 5, executions_per_trial = 3, directory = 'project2', project_name = 'Titanic')

In [123]:
tuner.search(X_train, y_train, epochs = 5, validation_data = (X_test, y_test))

Trial 5 Complete [00h 00m 23s]
val_accuracy: 0.7988826831181844

Best val_accuracy So Far: 0.8193668524424235
Total elapsed time: 00h 01m 55s
INFO:tensorflow:Oracle triggered exit

In [61]:
testDS = pd.read_csv(r'C:\Users\MY\Downloads\Datasets\TitanicDataset\test.csv')
testDS.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [62]:
testDS.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [63]:
testDS.isnull().sum()

PassengerId      0
Pclass           0
Name             0
Sex              0
Age             86
SibSp            0
Parch            0
Ticket           0
Fare             1
Cabin          327
Embarked         0
dtype: int64

In [64]:
testDS.groupby('Pclass').mean()['Age']

Pclass
1    40.918367
2    28.777500
3    24.027945
Name: Age, dtype: float64

In [65]:
def fillat(w):
    if(pd.isnull(w['Age'])):
        w['Age'] = testDS.groupby('Pclass').mean()['Age'][w['Pclass']]
    else:
        w = w
        
    return w

testDS = testDS.apply(fillat, axis = 1)

In [66]:
Y = testDS

In [67]:
Y.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB

In [73]:
Y[Y['Fare'].isnull()].index.tolist()

[152]

In [76]:
M = Y['Fare'].mean()

In [77]:
def fillf(w):
    if(pd.isnull(w['Fare'])):
        w['Fare'] = M
    else:
        w = w
    return w
Y = Y.apply(fillf, axis = 1)

In [81]:
Y['Fare'][152]

35.6271884892086

In [82]:
def S(x):
    if(x == 'male'):
        x = 1
    else:
        x = 0
        
    return x 

Y['Sex'] = Y['Sex'].apply(lambda x: S(x))

In [83]:
Age = Y['Age'].values
Age = Age.reshape(-1, 1)
scaler = MinMaxScaler()
Y['Age'] = scaler.fit_transform(Age)

In [84]:
Fare = X['Fare'].values
Fare = Fare.reshape(-1, 1)
X['Fare'] = scaler.fit_transform(Fare)

In [85]:
Embarked = pd.get_dummies(Y['Embarked'], drop_first = True)
Y = pd.concat([Y, Embarked], axis = 1)

In [90]:
J = Y
J.info()
J = J.drop(['PassengerId', 'Name', 'Ticket', 'Cabin', 'Embarked'], axis = 1)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    int64
 4   Age          418 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         418 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
 11  Q            418 non-null    uint8
 12  S            418 non-null    uint8
dtypes: float64(2), int64(5), object(4), uint8(2)
memory usage: 36.9+ KB

In [92]:
J.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Pclass  418 non-null    int64
 1   Sex     418 non-null    int64
 2   Age     418 non-null    float64
 3   SibSp   418 non-null    int64
 4   Parch   418 non-null    int64
 5   Fare    418 non-null    float64
 6   Q       418 non-null    uint8
 7   S       418 non-null    uint8
dtypes: float64(2), int64(4), uint8(2)
memory usage: 20.5 KB

In [93]:
predictions = model.predict(J)
print(predictions)

[1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1
 1 1 1 1 1 1 1 1 1 1 1]

In [94]:
predictions.size

418